section.sec.sec7
    div.container.color-white
        p.text.text_xl.ta-center.tt-uppercase.
            Откройте бизнес с нами без «космических» инвестиций
        p.text.text_m.ta-center.sec7__subtitle.
            Выберите планируемый размер инвестиций
        div.calc.sec7__calc
            div.calc__container
                div.calc__head
                    p.text.text_xs.
                        Количество<br> инвестиций
                    img(src="img/sec6-logo.png", alt="").calc__img
                    img(src="img/logo.png", alt="").calc__img-mobile
                div.calc__range-mobile
                    div.calc__range-wrap-mobile
                        input(type="range"
                            min="1"
                            max="6"
                            step="1"
                            value="1"
                            data-orientation="vertical").calc__range-slider-mobile
                        div.calc__range-blocks-wrap-mobile
                            div.calc__range-blocks-container-mobile
                                div.calc__range-blocks-mobile
                                    div.calc__range-block-mobile
                                        div.calc__range-block-text-mobile.calc__range-block-text-mobile_last
                                            p.text.text_s
                                                |2 080 000
                                                span.rouble.
                                                    Р
                                        div.calc__range-block-text-mobile
                                            p.text.text_s
                                                |1 580 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block-mobile
                                        div.calc__range-block-text-mobile
                                            p.text.text_s
                                                |1 080 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block-mobile
                                        div.calc__range-block-text-mobile
                                            p.text.text_s
                                                |880 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block-mobile
                                        div.calc__range-block-text-mobile
                                            p.text.text_s
                                                |640 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block-mobile
                                        div.calc__range-block-text-mobile
                                            p.text.text_s
                                                |211 000
                                                span.rouble.
                                                    Р
                div.calc__range
                    div.calc__range-wrap
                        input(type="range"
                            min="1"
                            max="6"
                            step="1"
                            value="1").calc__range-slider
                        div.calc__range-blocks-wrap
                            div.calc__range-blocks-container
                                div.calc__range-blocks
                                    div.calc__range-block
                                        div.calc__range-block-text.calc__range-block-text_first
                                            p.text.text_s
                                                |211 000
                                                span.rouble.
                                                    Р
                                        div.calc__range-block-text
                                            p.text.text_s
                                                |640 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block
                                        div.calc__range-block-text
                                            p.text.text_s
                                                |880 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block
                                        div.calc__range-block-text
                                            p.text.text_s
                                                |1 080 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block
                                        div.calc__range-block-text
                                            p.text.text_s
                                                |1 580 000
                                                span.rouble.
                                                    Р
                                    div.calc__range-block
                                        div.calc__range-block-text
                                            p.text.text_s
                                                |2 080 000
                                                span.rouble.
                                                    Р
                div.calc__footer
                    div.calc__footer-item
                        p.text.text_s.tt-uppercase.
                            «Управляющий партнер»
                        table.calc__footer-table
                            tr
                                td.calc__footer-col.
                                    Паушальный взнос:
                                td.calc__footer-col.calc__footer-col_bg
                                    span#val1.
                                        100 000
                                    span.rouble.
                                        Р
                            tr
                                td.calc__footer-col.
                                    Затраты на открытие:
                                td.calc__footer-col.calc__footer-col.calc__footer-col_bg
                                    span#val2.
                                        100 000
                                    span.rouble.
                                        Р
                            tr
                                td.calc__footer-col.
                                    Затраты на рекламу:
                                td.calc__footer-col.calc__footer-col.calc__footer-col_bg
                                    span#val3.
                                        100 000
                                    span.rouble.
                                        Р
                    div.calc__footer-item
                        p.text.text_s.light.
                            Средняя прибыль в 1-ый год:
                        div.calc__footer-border
                            span#val4.
                                1 359 876
                            span.rouble.
                                Р
        p.text.text_s.ta-center.mb0.
            Используйте наш опыт и окупайте вложения
        p.text.text_s.light.ta-center.mb40.
            уже на пятый месяц работы!
        div.ta-center
            a(href="").btn-round.js-small-btn.
                Получить расчет инвестиций
